@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Dosis:wght@200&family=Roboto&display=swap');
body {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
}
.refactoring-contanier {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: serif;
  font-size: 300%;
  font-family: 'Boogaloo', cursive;
}

.weather-input-container {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.weather-input {
  width: 14rem;
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
}

.weather-input:focus-visible {
    outline-offset: 0px;
    outline: none;
}

.submitButton {
  margin-left: 1rem;
  padding: 1rem 2rem;
  font-family: sans-serif;
  background-color: rgb(180, 25, 25);
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#display-weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(180, 25, 25);
    margin-top: 4rem;
}

.weather-temperature {
    font-size: 600%;
    font-family: serif;
}
.copyRight{
  color: #fff;
  font-size: 14px;
  margin-top: 110px;
  float: right;
  font-family: "Roboto", san-serif;
}